<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCSGOPlayerLabel" jhiTranslate="gamestatsApp.cSGOPlayer.home.createOrEditLabel">Create or edit a CSGO Player</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cSGOPlayer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cSGOPlayer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cSGOPlayer.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.age" for="field_age">Age</label>
            <input type="number" class="form-control" name="age" id="field_age"
                [(ngModel)]="cSGOPlayer.age" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.nick" for="field_nick">Nick</label>
            <input type="text" class="form-control" name="nick" id="field_nick"
                [(ngModel)]="cSGOPlayer.nick" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="cSGOPlayer.rating" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.usersRating" for="field_usersRating">Users Rating</label>
            <input type="number" class="form-control" name="usersRating" id="field_usersRating"
                [(ngModel)]="cSGOPlayer.usersRating" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.image" for="field_image">Image</label>
            <div>
                <div *ngIf="cSGOPlayer.image" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(cSGOPlayer.imageContentType, cSGOPlayer.image)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{cSGOPlayer.imageContentType}}, {{byteSize(cSGOPlayer.image)}}</span>
                    <button type="button" (click)="cSGOPlayer.image=null;cSGOPlayer.imageContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, cSGOPlayer, 'image', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="cSGOPlayer.image" />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="cSGOPlayer.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.mapsPlayed" for="field_mapsPlayed">Maps Played</label>
            <input type="number" class="form-control" name="mapsPlayed" id="field_mapsPlayed"
                [(ngModel)]="cSGOPlayer.mapsPlayed" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.winLossRatio" for="field_winLossRatio">Win Loss Ratio</label>
            <input type="number" class="form-control" name="winLossRatio" id="field_winLossRatio"
                [(ngModel)]="cSGOPlayer.winLossRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.tWinRatio" for="field_tWinRatio">T Win Ratio</label>
            <input type="number" class="form-control" name="tWinRatio" id="field_tWinRatio"
                [(ngModel)]="cSGOPlayer.tWinRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.ctWinRatio" for="field_ctWinRatio">Ct Win Ratio</label>
            <input type="number" class="form-control" name="ctWinRatio" id="field_ctWinRatio"
                [(ngModel)]="cSGOPlayer.ctWinRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.kdRatio" for="field_kdRatio">Kd Ratio</label>
            <input type="number" class="form-control" name="kdRatio" id="field_kdRatio"
                [(ngModel)]="cSGOPlayer.kdRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.kdDiff" for="field_kdDiff">Kd Diff</label>
            <input type="number" class="form-control" name="kdDiff" id="field_kdDiff"
                [(ngModel)]="cSGOPlayer.kdDiff" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.headshotRadio" for="field_headshotRadio">Headshot Radio</label>
            <input type="number" class="form-control" name="headshotRadio" id="field_headshotRadio"
                [(ngModel)]="cSGOPlayer.headshotRadio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.bestWeapon" for="field_bestWeapon">Best Weapon</label>
            <input type="text" class="form-control" name="bestWeapon" id="field_bestWeapon"
                [(ngModel)]="cSGOPlayer.bestWeapon" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.twitterUrl" for="field_twitterUrl">Twitter Url</label>
            <input type="text" class="form-control" name="twitterUrl" id="field_twitterUrl"
                [(ngModel)]="cSGOPlayer.twitterUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.twitchUrl" for="field_twitchUrl">Twitch Url</label>
            <input type="text" class="form-control" name="twitchUrl" id="field_twitchUrl"
                [(ngModel)]="cSGOPlayer.twitchUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.hardwareSpecs" for="field_hardwareSpecs">Hardware Specs</label>
            <input type="text" class="form-control" name="hardwareSpecs" id="field_hardwareSpecs"
                [(ngModel)]="cSGOPlayer.hardwareSpecs" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.totalRounds" for="field_totalRounds">Total Rounds</label>
            <input type="number" class="form-control" name="totalRounds" id="field_totalRounds"
                [(ngModel)]="cSGOPlayer.totalRounds" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.grenadeDmgRound" for="field_grenadeDmgRound">Grenade Dmg Round</label>
            <input type="number" class="form-control" name="grenadeDmgRound" id="field_grenadeDmgRound"
                [(ngModel)]="cSGOPlayer.grenadeDmgRound" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.killRoundRatio" for="field_killRoundRatio">Kill Round Ratio</label>
            <input type="number" class="form-control" name="killRoundRatio" id="field_killRoundRatio"
                [(ngModel)]="cSGOPlayer.killRoundRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.deathRoundRatio" for="field_deathRoundRatio">Death Round Ratio</label>
            <input type="number" class="form-control" name="deathRoundRatio" id="field_deathRoundRatio"
                [(ngModel)]="cSGOPlayer.deathRoundRatio" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.roundKills" for="field_roundKills">Round Kills</label>
            <select class="form-control" id="field_roundKills" name="roundKills" [(ngModel)]="cSGOPlayer.roundKills">
                <option [ngValue]="null"></option>
                <option [ngValue]="roundKillsOption.id === cSGOPlayer.roundKills?.id ? cSGOPlayer.roundKills : roundKillsOption" *ngFor="let roundKillsOption of roundkills; trackBy: trackRoundKillsById">{{roundKillsOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.lastMatch" for="field_lastMatch">Last Match</label>
            <select class="form-control" id="field_lastMatch" name="lastMatch" [(ngModel)]="cSGOPlayer.lastMatch">
                <option [ngValue]="null"></option>
                <option [ngValue]="matchOption.id === cSGOPlayer.lastMatch?.id ? cSGOPlayer.lastMatch : matchOption" *ngFor="let matchOption of lastmatches; trackBy: trackMatchById">{{matchOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="cSGOPlayer.country">
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id === cSGOPlayer.country?.id ? cSGOPlayer.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayer.team" for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" [(ngModel)]="cSGOPlayer.team" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cSGOTeamOption.id === cSGOPlayer.team?.id ? cSGOPlayer.team : cSGOTeamOption" *ngFor="let cSGOTeamOption of csgoteams; trackBy: trackCSGOTeamById">{{cSGOTeamOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
