
<div *ngIf="cSGOPlayer">
    <h2><span jhiTranslate="gamestatsApp.cSGOPlayer.detail.title">CSGO Player</span> {{cSGOPlayer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.name">Name</span></dt>
        <dd>
            <span>{{cSGOPlayer.name}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.age">Age</span></dt>
        <dd>
            <span>{{cSGOPlayer.age}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.nick">Nick</span></dt>
        <dd>
            <span>{{cSGOPlayer.nick}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.rating">Rating</span></dt>
        <dd>
            <span>{{cSGOPlayer.rating}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.usersRating">Users Rating</span></dt>
        <dd>
            <span>{{cSGOPlayer.usersRating}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.image">Image</span></dt>
        <dd>
            <div *ngIf="cSGOPlayer.image">
                <a (click)="openFile(cSGOPlayer.imageContentType, cSGOPlayer.image)" jhiTranslate="entity.action.open">open</a>
                {{cSGOPlayer.imageContentType}}, {{byteSize(cSGOPlayer.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.mapsPlayed">Maps Played</span></dt>
        <dd>
            <span>{{cSGOPlayer.mapsPlayed}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.winLossRatio">Win Loss Ratio</span></dt>
        <dd>
            <span>{{cSGOPlayer.winLossRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.tWinRatio">T Win Ratio</span></dt>
        <dd>
            <span>{{cSGOPlayer.tWinRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.ctWinRatio">Ct Win Ratio</span></dt>
        <dd>
            <span>{{cSGOPlayer.ctWinRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.kdRatio">Kd Ratio</span></dt>
        <dd>
            <span>{{cSGOPlayer.kdRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.kdDiff">Kd Diff</span></dt>
        <dd>
            <span>{{cSGOPlayer.kdDiff}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.headshotRadio">Headshot Radio</span></dt>
        <dd>
            <span>{{cSGOPlayer.headshotRadio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.bestWeapon">Best Weapon</span></dt>
        <dd>
            <span>{{cSGOPlayer.bestWeapon}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.twitterUrl">Twitter Url</span></dt>
        <dd>
            <span>{{cSGOPlayer.twitterUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.twitchUrl">Twitch Url</span></dt>
        <dd>
            <span>{{cSGOPlayer.twitchUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.hardwareSpecs">Hardware Specs</span></dt>
        <dd>
            <span>{{cSGOPlayer.hardwareSpecs}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.totalRounds">Total Rounds</span></dt>
        <dd>
            <span>{{cSGOPlayer.totalRounds}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.grenadeDmgRound">Grenade Dmg Round</span></dt>
        <dd>
            <span>{{cSGOPlayer.grenadeDmgRound}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.killRoundRatio">Kill Round Ratio</span></dt>
        <dd>
            <span>{{cSGOPlayer.killRoundRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.deathRoundRatio">Death Round Ratio</span></dt>
        <dd>
            <span>{{cSGOPlayer.deathRoundRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.roundKills">Round Kills</span></dt>
        <dd>
            <div *ngIf="cSGOPlayer.roundKills">
                <a [routerLink]="['/round-kills', cSGOPlayer.roundKills?.id]">{{cSGOPlayer.roundKills?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.lastMatch">Last Match</span></dt>
        <dd>
            <div *ngIf="cSGOPlayer.lastMatch">
                <a [routerLink]="['/match', cSGOPlayer.lastMatch?.id]">{{cSGOPlayer.lastMatch?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.country">Country</span></dt>
        <dd>
            <div *ngIf="cSGOPlayer.country">
                <a [routerLink]="['/country', cSGOPlayer.country?.id]">{{cSGOPlayer.country?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayer.team">Team</span></dt>
        <dd>
            <div *ngIf="cSGOPlayer.team">
                <a [routerLink]="['/csgo-team', cSGOPlayer.team?.id]">{{cSGOPlayer.team?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'csgo-player/'+ cSGOPlayer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
