<div>
    <h2>
        <span jhiTranslate="gamestatsApp.cSGOPlayer.home.title">CSGO Players</span>
        <button class="btn btn-primary float-right jh-create-entity create-csgo-player" [routerLink]="['/', { outlets: { popup: ['csgo-player-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.cSGOPlayer.home.createLabel">
            Create new CSGO Player
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cSGOPlayers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.name">Name</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.age">Age</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.nick">Nick</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.rating">Rating</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.usersRating">Users Rating</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.image">Image</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.mapsPlayed">Maps Played</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.winLossRatio">Win Loss Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.tWinRatio">T Win Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.ctWinRatio">Ct Win Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.kdRatio">Kd Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.kdDiff">Kd Diff</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.headshotRadio">Headshot Radio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.bestWeapon">Best Weapon</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.twitterUrl">Twitter Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.twitchUrl">Twitch Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.hardwareSpecs">Hardware Specs</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.totalRounds">Total Rounds</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.grenadeDmgRound">Grenade Dmg Round</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.killRoundRatio">Kill Round Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.deathRoundRatio">Death Round Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.roundKills">Round Kills</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.lastMatch">Last Match</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.country">Country</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayer.team">Team</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cSGOPlayer of cSGOPlayers ;trackBy: trackId">
                <td><a [routerLink]="['../csgo-player', cSGOPlayer.id ]">{{cSGOPlayer.id}}</a></td>
                <td>{{cSGOPlayer.name}}</td>
                <td>{{cSGOPlayer.age}}</td>
                <td>{{cSGOPlayer.nick}}</td>
                <td>{{cSGOPlayer.rating}}</td>
                <td>{{cSGOPlayer.usersRating}}</td>
                <td>
                    <a *ngIf="cSGOPlayer.image" (click)="openFile(cSGOPlayer.imageContentType, cSGOPlayer.image)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="cSGOPlayer.image">{{cSGOPlayer.imageContentType}}, {{byteSize(cSGOPlayer.image)}}</span>
                </td>
                <td>{{cSGOPlayer.mapsPlayed}}</td>
                <td>{{cSGOPlayer.winLossRatio}}</td>
                <td>{{cSGOPlayer.tWinRatio}}</td>
                <td>{{cSGOPlayer.ctWinRatio}}</td>
                <td>{{cSGOPlayer.kdRatio}}</td>
                <td>{{cSGOPlayer.kdDiff}}</td>
                <td>{{cSGOPlayer.headshotRadio}}</td>
                <td>{{cSGOPlayer.bestWeapon}}</td>
                <td>{{cSGOPlayer.twitterUrl}}</td>
                <td>{{cSGOPlayer.twitchUrl}}</td>
                <td>{{cSGOPlayer.hardwareSpecs}}</td>
                <td>{{cSGOPlayer.totalRounds}}</td>
                <td>{{cSGOPlayer.grenadeDmgRound}}</td>
                <td>{{cSGOPlayer.killRoundRatio}}</td>
                <td>{{cSGOPlayer.deathRoundRatio}}</td>
                <td>
                    <div *ngIf="cSGOPlayer.roundKills">
                        <a [routerLink]="['../round-kills', cSGOPlayer.roundKills?.id ]" >{{cSGOPlayer.roundKills?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cSGOPlayer.lastMatch">
                        <a [routerLink]="['../match', cSGOPlayer.lastMatch?.id ]" >{{cSGOPlayer.lastMatch?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cSGOPlayer.country">
                        <a [routerLink]="['../country', cSGOPlayer.country?.id ]" >{{cSGOPlayer.country?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cSGOPlayer.team">
                        <a [routerLink]="['../csgo-team', cSGOPlayer.team?.id ]" >{{cSGOPlayer.team?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../csgo-player', cSGOPlayer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-player/'+ cSGOPlayer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-player/'+ cSGOPlayer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
