<div>
    <h2>
        <span jhiTranslate="gamestatsApp.achievement.home.title">Achievements</span>
        <button class="btn btn-primary float-right jh-create-entity create-achievement" [routerLink]="['/', { outlets: { popup: ['achievement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.achievement.home.createLabel">
            Create new Achievement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achievements">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.achievement.date">Date</span></th>
            <th><span jhiTranslate="gamestatsApp.achievement.description">Description</span></th>
            <th><span jhiTranslate="gamestatsApp.achievement.team">Team</span></th>
            <th><span jhiTranslate="gamestatsApp.achievement.player">Player</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let achievement of achievements ;trackBy: trackId">
                <td><a [routerLink]="['../achievement', achievement.id ]">{{achievement.id}}</a></td>
                <td>{{achievement.date | date:'mediumDate'}}</td>
                <td>{{achievement.description}}</td>
                <td>
                    <div *ngIf="achievement.team">
                        <a [routerLink]="['../csgo-team', achievement.team?.id ]" >{{achievement.team?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievement.player">
                        <a [routerLink]="['../csgo-player', achievement.player?.id ]" >{{achievement.player?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../achievement', achievement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement/'+ achievement.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement/'+ achievement.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
