
<div *ngIf="achievement">
    <h2><span jhiTranslate="gamestatsApp.achievement.detail.title">Achievement</span> {{achievement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.achievement.date">Date</span></dt>
        <dd>
            <span>{{achievement.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.achievement.description">Description</span></dt>
        <dd>
            <span>{{achievement.description}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.achievement.team">Team</span></dt>
        <dd>
            <div *ngIf="achievement.team">
                <a [routerLink]="['/csgo-team', achievement.team?.id]">{{achievement.team?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.achievement.player">Player</span></dt>
        <dd>
            <div *ngIf="achievement.player">
                <a [routerLink]="['/csgo-player', achievement.player?.id]">{{achievement.player?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'achievement/'+ achievement.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
