<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAchievementLabel" jhiTranslate="gamestatsApp.achievement.home.createOrEditLabel">Create or edit a Achievement</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!achievement.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="achievement.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.achievement.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="achievement.date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.achievement.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="achievement.description" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.achievement.team" for="field_team">Team</label>
            <select class="form-control" id="field_team" name="team" [(ngModel)]="achievement.team" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cSGOTeamOption.id === achievement.team?.id ? achievement.team : cSGOTeamOption" *ngFor="let cSGOTeamOption of csgoteams; trackBy: trackCSGOTeamById">{{cSGOTeamOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.achievement.player" for="field_player">Player</label>
            <select class="form-control" id="field_player" name="player" [(ngModel)]="achievement.player" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cSGOPlayerOption.id === achievement.player?.id ? achievement.player : cSGOPlayerOption" *ngFor="let cSGOPlayerOption of csgoplayers; trackBy: trackCSGOPlayerById">{{cSGOPlayerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
