
<div *ngIf="cSGOPlayerUrl">
    <h2><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.detail.title">CSGO Player Url</span> {{cSGOPlayerUrl.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.name">Name</span></dt>
        <dd>
            <span>{{cSGOPlayerUrl.name}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.statsUrl">Stats Url</span></dt>
        <dd>
            <span>{{cSGOPlayerUrl.statsUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.countryUrl">Country Url</span></dt>
        <dd>
            <span>{{cSGOPlayerUrl.countryUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.photoUrl">Photo Url</span></dt>
        <dd>
            <span>{{cSGOPlayerUrl.photoUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.playerId">Player Id</span></dt>
        <dd>
            <span>{{cSGOPlayerUrl.playerId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'csgo-player-url/'+ cSGOPlayerUrl.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
