<div>
    <h2>
        <span jhiTranslate="gamestatsApp.cSGOPlayerUrl.home.title">CSGO Player Urls</span>
        <button class="btn btn-primary float-right jh-create-entity create-csgo-player-url" [routerLink]="['/', { outlets: { popup: ['csgo-player-url-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.cSGOPlayerUrl.home.createLabel">
            Create new CSGO Player Url
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cSGOPlayerUrls">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.name">Name</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.statsUrl">Stats Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.countryUrl">Country Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.photoUrl">Photo Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOPlayerUrl.playerId">Player Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cSGOPlayerUrl of cSGOPlayerUrls ;trackBy: trackId">
                <td><a [routerLink]="['../csgo-player-url', cSGOPlayerUrl.id ]">{{cSGOPlayerUrl.id}}</a></td>
                <td>{{cSGOPlayerUrl.name}}</td>
                <td>{{cSGOPlayerUrl.statsUrl}}</td>
                <td>{{cSGOPlayerUrl.countryUrl}}</td>
                <td>{{cSGOPlayerUrl.photoUrl}}</td>
                <td>{{cSGOPlayerUrl.playerId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../csgo-player-url', cSGOPlayerUrl.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-player-url/'+ cSGOPlayerUrl.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-player-url/'+ cSGOPlayerUrl.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
