<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCSGOPlayerUrlLabel" jhiTranslate="gamestatsApp.cSGOPlayerUrl.home.createOrEditLabel">Create or edit a CSGO Player Url</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cSGOPlayerUrl.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cSGOPlayerUrl.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayerUrl.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cSGOPlayerUrl.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayerUrl.statsUrl" for="field_statsUrl">Stats Url</label>
            <input type="text" class="form-control" name="statsUrl" id="field_statsUrl"
                [(ngModel)]="cSGOPlayerUrl.statsUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayerUrl.countryUrl" for="field_countryUrl">Country Url</label>
            <input type="text" class="form-control" name="countryUrl" id="field_countryUrl"
                [(ngModel)]="cSGOPlayerUrl.countryUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayerUrl.photoUrl" for="field_photoUrl">Photo Url</label>
            <input type="text" class="form-control" name="photoUrl" id="field_photoUrl"
                [(ngModel)]="cSGOPlayerUrl.photoUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOPlayerUrl.playerId" for="field_playerId">Player Id</label>
            <input type="number" class="form-control" name="playerId" id="field_playerId"
                [(ngModel)]="cSGOPlayerUrl.playerId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
