<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRoundKillsLabel" jhiTranslate="gamestatsApp.roundKills.home.createOrEditLabel">Create or edit a Round Kills</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!roundKills.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="roundKills.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.roundKills.noKill" for="field_noKill">No Kill</label>
            <input type="number" class="form-control" name="noKill" id="field_noKill"
                [(ngModel)]="roundKills.noKill" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.roundKills.oneKill" for="field_oneKill">One Kill</label>
            <input type="number" class="form-control" name="oneKill" id="field_oneKill"
                [(ngModel)]="roundKills.oneKill" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.roundKills.twoKills" for="field_twoKills">Two Kills</label>
            <input type="number" class="form-control" name="twoKills" id="field_twoKills"
                [(ngModel)]="roundKills.twoKills" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.roundKills.threeKills" for="field_threeKills">Three Kills</label>
            <input type="number" class="form-control" name="threeKills" id="field_threeKills"
                [(ngModel)]="roundKills.threeKills" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.roundKills.fourKills" for="field_fourKills">Four Kills</label>
            <input type="number" class="form-control" name="fourKills" id="field_fourKills"
                [(ngModel)]="roundKills.fourKills" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.roundKills.fiveKills" for="field_fiveKills">Five Kills</label>
            <input type="number" class="form-control" name="fiveKills" id="field_fiveKills"
                [(ngModel)]="roundKills.fiveKills" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
