
<div *ngIf="roundKills">
    <h2><span jhiTranslate="gamestatsApp.roundKills.detail.title">Round Kills</span> {{roundKills.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.roundKills.noKill">No Kill</span></dt>
        <dd>
            <span>{{roundKills.noKill}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.roundKills.oneKill">One Kill</span></dt>
        <dd>
            <span>{{roundKills.oneKill}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.roundKills.twoKills">Two Kills</span></dt>
        <dd>
            <span>{{roundKills.twoKills}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.roundKills.threeKills">Three Kills</span></dt>
        <dd>
            <span>{{roundKills.threeKills}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.roundKills.fourKills">Four Kills</span></dt>
        <dd>
            <span>{{roundKills.fourKills}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.roundKills.fiveKills">Five Kills</span></dt>
        <dd>
            <span>{{roundKills.fiveKills}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'round-kills/'+ roundKills.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
