<div>
    <h2>
        <span jhiTranslate="gamestatsApp.roundKills.home.title">Round Kills</span>
        <button class="btn btn-primary float-right jh-create-entity create-round-kills" [routerLink]="['/', { outlets: { popup: ['round-kills-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.roundKills.home.createLabel">
            Create new Round Kills
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="roundKills">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.roundKills.noKill">No Kill</span></th>
            <th><span jhiTranslate="gamestatsApp.roundKills.oneKill">One Kill</span></th>
            <th><span jhiTranslate="gamestatsApp.roundKills.twoKills">Two Kills</span></th>
            <th><span jhiTranslate="gamestatsApp.roundKills.threeKills">Three Kills</span></th>
            <th><span jhiTranslate="gamestatsApp.roundKills.fourKills">Four Kills</span></th>
            <th><span jhiTranslate="gamestatsApp.roundKills.fiveKills">Five Kills</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roundKills of roundKills ;trackBy: trackId">
                <td><a [routerLink]="['../round-kills', roundKills.id ]">{{roundKills.id}}</a></td>
                <td>{{roundKills.noKill}}</td>
                <td>{{roundKills.oneKill}}</td>
                <td>{{roundKills.twoKills}}</td>
                <td>{{roundKills.threeKills}}</td>
                <td>{{roundKills.fourKills}}</td>
                <td>{{roundKills.fiveKills}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../round-kills', roundKills.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'round-kills/'+ roundKills.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'round-kills/'+ roundKills.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
