<div>
    <h2>
        <span jhiTranslate="gamestatsApp.cSGOTeam.home.title">CSGO Teams</span>
        <button class="btn btn-primary float-right jh-create-entity create-csgo-team" [routerLink]="['/', { outlets: { popup: ['csgo-team-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.cSGOTeam.home.createLabel">
            Create new CSGO Team
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cSGOTeams">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.name">Name</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.rating">Rating</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.creationDate">Creation Date</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.usersRating">Users Rating</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.mapsPlayed">Maps Played</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.playersPhoto">Players Photo</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.teamLogo">Team Logo</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.ctWinRatio">Ct Win Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.tWinRatio">T Win Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.numberOfMapsPlayed">Number Of Maps Played</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.twitterUrl">Twitter Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.country">Country</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.lastMatch">Last Match</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeam.roundKills">Round Kills</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cSGOTeam of cSGOTeams ;trackBy: trackId">
                <td><a [routerLink]="['../csgo-team', cSGOTeam.id ]">{{cSGOTeam.id}}</a></td>
                <td>{{cSGOTeam.name}}</td>
                <td>{{cSGOTeam.rating}}</td>
                <td>{{cSGOTeam.creationDate | date:'mediumDate'}}</td>
                <td>{{cSGOTeam.usersRating}}</td>
                <td>{{cSGOTeam.mapsPlayed}}</td>
                <td>
                    <a *ngIf="cSGOTeam.playersPhoto" (click)="openFile(cSGOTeam.playersPhotoContentType, cSGOTeam.playersPhoto)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="cSGOTeam.playersPhoto">{{cSGOTeam.playersPhotoContentType}}, {{byteSize(cSGOTeam.playersPhoto)}}</span>
                </td>
                <td>
                    <a *ngIf="cSGOTeam.teamLogo" (click)="openFile(cSGOTeam.teamLogoContentType, cSGOTeam.teamLogo)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="cSGOTeam.teamLogo">{{cSGOTeam.teamLogoContentType}}, {{byteSize(cSGOTeam.teamLogo)}}</span>
                </td>
                <td>{{cSGOTeam.ctWinRatio}}</td>
                <td>{{cSGOTeam.tWinRatio}}</td>
                <td>{{cSGOTeam.numberOfMapsPlayed}}</td>
                <td>{{cSGOTeam.twitterUrl}}</td>
                <td>
                    <div *ngIf="cSGOTeam.country">
                        <a [routerLink]="['../country', cSGOTeam.country?.id ]" >{{cSGOTeam.country?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cSGOTeam.lastMatch">
                        <a [routerLink]="['../match', cSGOTeam.lastMatch?.id ]" >{{cSGOTeam.lastMatch?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="cSGOTeam.roundKills">
                        <a [routerLink]="['../round-kills', cSGOTeam.roundKills?.id ]" >{{cSGOTeam.roundKills?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../csgo-team', cSGOTeam.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-team/'+ cSGOTeam.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-team/'+ cSGOTeam.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
