
<div *ngIf="cSGOTeam">
    <h2><span jhiTranslate="gamestatsApp.cSGOTeam.detail.title">CSGO Team</span> {{cSGOTeam.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.name">Name</span></dt>
        <dd>
            <span>{{cSGOTeam.name}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.rating">Rating</span></dt>
        <dd>
            <span>{{cSGOTeam.rating}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.creationDate">Creation Date</span></dt>
        <dd>
            <span>{{cSGOTeam.creationDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.usersRating">Users Rating</span></dt>
        <dd>
            <span>{{cSGOTeam.usersRating}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.mapsPlayed">Maps Played</span></dt>
        <dd>
            <span>{{cSGOTeam.mapsPlayed}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.playersPhoto">Players Photo</span></dt>
        <dd>
            <div *ngIf="cSGOTeam.playersPhoto">
                <a (click)="openFile(cSGOTeam.playersPhotoContentType, cSGOTeam.playersPhoto)" jhiTranslate="entity.action.open">open</a>
                {{cSGOTeam.playersPhotoContentType}}, {{byteSize(cSGOTeam.playersPhoto)}}
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.teamLogo">Team Logo</span></dt>
        <dd>
            <div *ngIf="cSGOTeam.teamLogo">
                <a (click)="openFile(cSGOTeam.teamLogoContentType, cSGOTeam.teamLogo)" jhiTranslate="entity.action.open">open</a>
                {{cSGOTeam.teamLogoContentType}}, {{byteSize(cSGOTeam.teamLogo)}}
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.ctWinRatio">Ct Win Ratio</span></dt>
        <dd>
            <span>{{cSGOTeam.ctWinRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.tWinRatio">T Win Ratio</span></dt>
        <dd>
            <span>{{cSGOTeam.tWinRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.numberOfMapsPlayed">Number Of Maps Played</span></dt>
        <dd>
            <span>{{cSGOTeam.numberOfMapsPlayed}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.twitterUrl">Twitter Url</span></dt>
        <dd>
            <span>{{cSGOTeam.twitterUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.country">Country</span></dt>
        <dd>
            <div *ngIf="cSGOTeam.country">
                <a [routerLink]="['/country', cSGOTeam.country?.id]">{{cSGOTeam.country?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.lastMatch">Last Match</span></dt>
        <dd>
            <div *ngIf="cSGOTeam.lastMatch">
                <a [routerLink]="['/match', cSGOTeam.lastMatch?.id]">{{cSGOTeam.lastMatch?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeam.roundKills">Round Kills</span></dt>
        <dd>
            <div *ngIf="cSGOTeam.roundKills">
                <a [routerLink]="['/round-kills', cSGOTeam.roundKills?.id]">{{cSGOTeam.roundKills?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'csgo-team/'+ cSGOTeam.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
