<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCSGOTeamLabel" jhiTranslate="gamestatsApp.cSGOTeam.home.createOrEditLabel">Create or edit a CSGO Team</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cSGOTeam.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cSGOTeam.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cSGOTeam.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.rating" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="cSGOTeam.rating" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.creationDate" for="field_creationDate">Creation Date</label>
            <div class="input-group">
                <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" [(ngModel)]="cSGOTeam.creationDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.usersRating" for="field_usersRating">Users Rating</label>
            <input type="number" class="form-control" name="usersRating" id="field_usersRating"
                [(ngModel)]="cSGOTeam.usersRating" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.mapsPlayed" for="field_mapsPlayed">Maps Played</label>
            <input type="number" class="form-control" name="mapsPlayed" id="field_mapsPlayed"
                [(ngModel)]="cSGOTeam.mapsPlayed" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.playersPhoto" for="field_playersPhoto">Players Photo</label>
            <div>
                <div *ngIf="cSGOTeam.playersPhoto" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(cSGOTeam.playersPhotoContentType, cSGOTeam.playersPhoto)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{cSGOTeam.playersPhotoContentType}}, {{byteSize(cSGOTeam.playersPhoto)}}</span>
                    <button type="button" (click)="cSGOTeam.playersPhoto=null;cSGOTeam.playersPhotoContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_playersPhoto" (change)="setFileData($event, cSGOTeam, 'playersPhoto', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="playersPhoto" id="field_playersPhoto"
                [(ngModel)]="cSGOTeam.playersPhoto" />
            <input type="hidden" class="form-control" name="playersPhotoContentType" id="field_playersPhotoContentType"
                [(ngModel)]="cSGOTeam.playersPhotoContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.teamLogo" for="field_teamLogo">Team Logo</label>
            <div>
                <div *ngIf="cSGOTeam.teamLogo" class="form-text text-danger clearfix">
                    <a class="pull-left" (click)="openFile(cSGOTeam.teamLogoContentType, cSGOTeam.teamLogo)" jhiTranslate="entity.action.open">open</a><br>
                    <span class="pull-left">{{cSGOTeam.teamLogoContentType}}, {{byteSize(cSGOTeam.teamLogo)}}</span>
                    <button type="button" (click)="cSGOTeam.teamLogo=null;cSGOTeam.teamLogoContentType=null;"
                            class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_teamLogo" (change)="setFileData($event, cSGOTeam, 'teamLogo', false)" jhiTranslate="entity.action.addblob"/>
            </div>
            <input type="hidden" class="form-control" name="teamLogo" id="field_teamLogo"
                [(ngModel)]="cSGOTeam.teamLogo" />
            <input type="hidden" class="form-control" name="teamLogoContentType" id="field_teamLogoContentType"
                [(ngModel)]="cSGOTeam.teamLogoContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.ctWinRatio" for="field_ctWinRatio">Ct Win Ratio</label>
            <input type="number" class="form-control" name="ctWinRatio" id="field_ctWinRatio"
                [(ngModel)]="cSGOTeam.ctWinRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.tWinRatio" for="field_tWinRatio">T Win Ratio</label>
            <input type="number" class="form-control" name="tWinRatio" id="field_tWinRatio"
                [(ngModel)]="cSGOTeam.tWinRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.numberOfMapsPlayed" for="field_numberOfMapsPlayed">Number Of Maps Played</label>
            <input type="number" class="form-control" name="numberOfMapsPlayed" id="field_numberOfMapsPlayed"
                [(ngModel)]="cSGOTeam.numberOfMapsPlayed" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.twitterUrl" for="field_twitterUrl">Twitter Url</label>
            <input type="text" class="form-control" name="twitterUrl" id="field_twitterUrl"
                [(ngModel)]="cSGOTeam.twitterUrl" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.country" for="field_country">Country</label>
            <select class="form-control" id="field_country" name="country" [(ngModel)]="cSGOTeam.country">
                <option [ngValue]="null"></option>
                <option [ngValue]="countryOption.id === cSGOTeam.country?.id ? cSGOTeam.country : countryOption" *ngFor="let countryOption of countries; trackBy: trackCountryById">{{countryOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.lastMatch" for="field_lastMatch">Last Match</label>
            <select class="form-control" id="field_lastMatch" name="lastMatch" [(ngModel)]="cSGOTeam.lastMatch">
                <option [ngValue]="null"></option>
                <option [ngValue]="matchOption.id === cSGOTeam.lastMatch?.id ? cSGOTeam.lastMatch : matchOption" *ngFor="let matchOption of lastmatches; trackBy: trackMatchById">{{matchOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeam.roundKills" for="field_roundKills">Round Kills</label>
            <select class="form-control" id="field_roundKills" name="roundKills" [(ngModel)]="cSGOTeam.roundKills">
                <option [ngValue]="null"></option>
                <option [ngValue]="roundKillsOption.id === cSGOTeam.roundKills?.id ? cSGOTeam.roundKills : roundKillsOption" *ngFor="let roundKillsOption of roundkills; trackBy: trackRoundKillsById">{{roundKillsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
