<div>
    <h2>
        <span jhiTranslate="gamestatsApp.cSGOTeamUrl.home.title">CSGO Team Urls</span>
        <button class="btn btn-primary float-right jh-create-entity create-csgo-team-url" [routerLink]="['/', { outlets: { popup: ['csgo-team-url-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.cSGOTeamUrl.home.createLabel">
            Create new CSGO Team Url
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cSGOTeamUrls">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeamUrl.name">Name</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeamUrl.statsUrl">Stats Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeamUrl.photoUrl">Photo Url</span></th>
            <th><span jhiTranslate="gamestatsApp.cSGOTeamUrl.teamId">Team Id</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cSGOTeamUrl of cSGOTeamUrls ;trackBy: trackId">
                <td><a [routerLink]="['../csgo-team-url', cSGOTeamUrl.id ]">{{cSGOTeamUrl.id}}</a></td>
                <td>{{cSGOTeamUrl.name}}</td>
                <td>{{cSGOTeamUrl.statsUrl}}</td>
                <td>{{cSGOTeamUrl.photoUrl}}</td>
                <td>{{cSGOTeamUrl.teamId}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../csgo-team-url', cSGOTeamUrl.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-team-url/'+ cSGOTeamUrl.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'csgo-team-url/'+ cSGOTeamUrl.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
