<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCSGOTeamUrlLabel" jhiTranslate="gamestatsApp.cSGOTeamUrl.home.createOrEditLabel">Create or edit a CSGO Team Url</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cSGOTeamUrl.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cSGOTeamUrl.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeamUrl.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cSGOTeamUrl.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeamUrl.statsUrl" for="field_statsUrl">Stats Url</label>
            <input type="text" class="form-control" name="statsUrl" id="field_statsUrl"
                [(ngModel)]="cSGOTeamUrl.statsUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeamUrl.photoUrl" for="field_photoUrl">Photo Url</label>
            <input type="text" class="form-control" name="photoUrl" id="field_photoUrl"
                [(ngModel)]="cSGOTeamUrl.photoUrl" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.cSGOTeamUrl.teamId" for="field_teamId">Team Id</label>
            <input type="number" class="form-control" name="teamId" id="field_teamId"
                [(ngModel)]="cSGOTeamUrl.teamId" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
