
<div *ngIf="cSGOTeamUrl">
    <h2><span jhiTranslate="gamestatsApp.cSGOTeamUrl.detail.title">CSGO Team Url</span> {{cSGOTeamUrl.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.cSGOTeamUrl.name">Name</span></dt>
        <dd>
            <span>{{cSGOTeamUrl.name}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeamUrl.statsUrl">Stats Url</span></dt>
        <dd>
            <span>{{cSGOTeamUrl.statsUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeamUrl.photoUrl">Photo Url</span></dt>
        <dd>
            <span>{{cSGOTeamUrl.photoUrl}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.cSGOTeamUrl.teamId">Team Id</span></dt>
        <dd>
            <span>{{cSGOTeamUrl.teamId}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'csgo-team-url/'+ cSGOTeamUrl.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
