
<div *ngIf="map">
    <h2><span jhiTranslate="gamestatsApp.map.detail.title">Map</span> {{map.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.map.name">Name</span></dt>
        <dd>
            <span>{{map.name}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.map.usersRating">Users Rating</span></dt>
        <dd>
            <span>{{map.usersRating}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.map.ctWinRatio">Ct Win Ratio</span></dt>
        <dd>
            <span>{{map.ctWinRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.map.tWinRatio">T Win Ratio</span></dt>
        <dd>
            <span>{{map.tWinRatio}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.map.numberPlayed">Number Played</span></dt>
        <dd>
            <span>{{map.numberPlayed}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'map/'+ map.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
