<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMapLabel" jhiTranslate="gamestatsApp.map.home.createOrEditLabel">Create or edit a Map</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!map.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="map.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.map.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="map.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.map.usersRating" for="field_usersRating">Users Rating</label>
            <input type="number" class="form-control" name="usersRating" id="field_usersRating"
                [(ngModel)]="map.usersRating" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.map.ctWinRatio" for="field_ctWinRatio">Ct Win Ratio</label>
            <input type="number" class="form-control" name="ctWinRatio" id="field_ctWinRatio"
                [(ngModel)]="map.ctWinRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.map.tWinRatio" for="field_tWinRatio">T Win Ratio</label>
            <input type="number" class="form-control" name="tWinRatio" id="field_tWinRatio"
                [(ngModel)]="map.tWinRatio" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.map.numberPlayed" for="field_numberPlayed">Number Played</label>
            <input type="number" class="form-control" name="numberPlayed" id="field_numberPlayed"
                [(ngModel)]="map.numberPlayed" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
