<div>
    <h2>
        <span jhiTranslate="gamestatsApp.map.home.title">Maps</span>
        <button class="btn btn-primary float-right jh-create-entity create-map" [routerLink]="['/', { outlets: { popup: ['map-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.map.home.createLabel">
            Create new Map
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="maps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.map.name">Name</span></th>
            <th><span jhiTranslate="gamestatsApp.map.usersRating">Users Rating</span></th>
            <th><span jhiTranslate="gamestatsApp.map.ctWinRatio">Ct Win Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.map.tWinRatio">T Win Ratio</span></th>
            <th><span jhiTranslate="gamestatsApp.map.numberPlayed">Number Played</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let map of maps ;trackBy: trackId">
                <td><a [routerLink]="['../map', map.id ]">{{map.id}}</a></td>
                <td>{{map.name}}</td>
                <td>{{map.usersRating}}</td>
                <td>{{map.ctWinRatio}}</td>
                <td>{{map.tWinRatio}}</td>
                <td>{{map.numberPlayed}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../map', map.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'map/'+ map.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'map/'+ map.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
