<div>
    <h2>
        <span jhiTranslate="gamestatsApp.match.home.title">Matches</span>
        <button class="btn btn-primary float-right jh-create-entity create-match" [routerLink]="['/', { outlets: { popup: ['match-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gamestatsApp.match.home.createLabel">
            Create new Match
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="matches">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gamestatsApp.match.date">Date</span></th>
            <th><span jhiTranslate="gamestatsApp.match.numberOfMaps">Number Of Maps</span></th>
            <th><span jhiTranslate="gamestatsApp.match.championship">Championship</span></th>
            <th><span jhiTranslate="gamestatsApp.match.teamA">Team A</span></th>
            <th><span jhiTranslate="gamestatsApp.match.teamB">Team B</span></th>
            <th><span jhiTranslate="gamestatsApp.match.winner">Winner</span></th>
            <th><span jhiTranslate="gamestatsApp.match.maps">Maps</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let match of matches ;trackBy: trackId">
                <td><a [routerLink]="['../match', match.id ]">{{match.id}}</a></td>
                <td>{{match.date | date:'mediumDate'}}</td>
                <td>{{match.numberOfMaps}}</td>
                <td>{{match.championship}}</td>
                <td>
                    <div *ngIf="match.teamA">
                        <a [routerLink]="['../csgo-team', match.teamA?.id ]" >{{match.teamA?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.teamB">
                        <a [routerLink]="['../csgo-team', match.teamB?.id ]" >{{match.teamB?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="match.winner">
                        <a [routerLink]="['../csgo-team', match.winner?.id ]" >{{match.winner?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let maps of match.maps; let last = last">
                            <a class="form-control-static" [routerLink]="['../map', maps?.id ]">{{maps.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../match', match.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
