
<div *ngIf="match">
    <h2><span jhiTranslate="gamestatsApp.match.detail.title">Match</span> {{match.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="gamestatsApp.match.date">Date</span></dt>
        <dd>
            <span>{{match.date | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.match.numberOfMaps">Number Of Maps</span></dt>
        <dd>
            <span>{{match.numberOfMaps}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.match.championship">Championship</span></dt>
        <dd>
            <span>{{match.championship}}</span>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.match.teamA">Team A</span></dt>
        <dd>
            <div *ngIf="match.teamA">
                <a [routerLink]="['/csgo-team', match.teamA?.id]">{{match.teamA?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.match.teamB">Team B</span></dt>
        <dd>
            <div *ngIf="match.teamB">
                <a [routerLink]="['/csgo-team', match.teamB?.id]">{{match.teamB?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.match.winner">Winner</span></dt>
        <dd>
            <div *ngIf="match.winner">
                <a [routerLink]="['/csgo-team', match.winner?.id]">{{match.winner?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="gamestatsApp.match.maps">Maps</span></dt>
        <dd>
            <span *ngFor="let maps of match.maps; let last = last">
                <a [routerLink]="['/map', maps?.id ]">{{maps.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'match/'+ match.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
