<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMatchLabel" jhiTranslate="gamestatsApp.match.home.createOrEditLabel">Create or edit a Match</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!match.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="match.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.match.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="match.date"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.match.numberOfMaps" for="field_numberOfMaps">Number Of Maps</label>
            <input type="number" class="form-control" name="numberOfMaps" id="field_numberOfMaps"
                [(ngModel)]="match.numberOfMaps" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.match.championship" for="field_championship">Championship</label>
            <input type="text" class="form-control" name="championship" id="field_championship"
                [(ngModel)]="match.championship" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.match.teamA" for="field_teamA">Team A</label>
            <select class="form-control" id="field_teamA" name="teamA" [(ngModel)]="match.teamA">
                <option [ngValue]="null"></option>
                <option [ngValue]="cSGOTeamOption.id === match.teamA?.id ? match.teamA : cSGOTeamOption" *ngFor="let cSGOTeamOption of teamas; trackBy: trackCSGOTeamById">{{cSGOTeamOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.match.teamB" for="field_teamB">Team B</label>
            <select class="form-control" id="field_teamB" name="teamB" [(ngModel)]="match.teamB">
                <option [ngValue]="null"></option>
                <option [ngValue]="cSGOTeamOption.id === match.teamB?.id ? match.teamB : cSGOTeamOption" *ngFor="let cSGOTeamOption of teambs; trackBy: trackCSGOTeamById">{{cSGOTeamOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="gamestatsApp.match.winner" for="field_winner">Winner</label>
            <select class="form-control" id="field_winner" name="winner" [(ngModel)]="match.winner">
                <option [ngValue]="null"></option>
                <option [ngValue]="cSGOTeamOption.id === match.winner?.id ? match.winner : cSGOTeamOption" *ngFor="let cSGOTeamOption of winners; trackBy: trackCSGOTeamById">{{cSGOTeamOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="gamestatsApp.match.maps" for="field_maps">Maps</label>
            <select class="form-control" id="field_maps" multiple name="maps" [(ngModel)]="match.maps">
                <option [ngValue]="getSelected(match.maps, mapOption)" *ngFor="let mapOption of maps; trackBy: trackMapById">{{mapOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
